<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://http://openaccess.thecvf.com/content_CVPR_2019/papers/Xing_Unsupervised_Disentangling_of_Appearance_and_Geometry_by_Deformable_Generator_Network_CVPR_2019_paper.pdf" class="btn">Read on CVPR 2019 open access</a>
  <a href="https://github.com/andyxingxl/Deformable-generator" class="btn">View on GitHub</a>
  <a href="https://github.com/andyxingxl/Deformable-generator/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/andyxingxl/Deformable-generator/tarball/master" class="btn">Download .tar.gz</a>
</section>
